 <ion-header-bar class="bar-positive">
        <div  ng-click="" >
          <a class="button icon-left ion-chevron-left button-clear button-dark">返回</a>

        </div> 
        <h1 class="title">发表环保</h1>
      </ion-header-bar>
  <ion-content >
    <textarea  class="text" placeholder="这里可以输入详细内容" rows="25"></textarea>
    <button class="button button-icon  ion-ios-camera"></button>
    <button class="button button-icon  ion-happy"></button>
    
  
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <a class="button button-assertive" style="font-size:18px;font-weight:bold;"><b>发布</b></a>
      
    </div>
  </ion-footer-bar>



