
<ion-view view-title="环行" id="all">
  <ion-content >
    <ion-list>
        <div class="list list-inset" id="search" >
              <label class="item item-input" id="searchinput">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <button class="button" id="searchbtn">
                  搜索
                </button>
              </label>
        </div>

		<div class="row">
        	<div class="col">
                 <a class="item item-icon-right" href="#/app/news" id="news">
                   
                    最新消息，火线速报。
                    <i class="icon ion-ios-arrow-forward"></i>
                </a>         
            <hr id="hr"/>
             <a class="item item-icon-left item-icon-right" href="#" id="news">
                    <i class="icon ion-fireball"></i>
                    纪保部部长与男性不清不楚，坐拥后宫(庭)之王。
                    <i class="icon ion-ios-play-outline"></i>
                </a>
             <a class="item item-icon-left item-icon-right" href="#" id="news">
              	<i class="icon ion-fireball"></i>
             	 纪保部部长获得称号“万年小受”。
             	<i class="icon ion-ios-play-outline"></i>
             </a>         
           </div>
		</div>
        <div class="row">
        	<div class="col col-33">
             <a class="item item-icon-left" href="#" id="col-two">
             <h3><strong>今天天气</strong></h3>
              	<i class="icon ion-ios-sunny-outline"></i>
             	晴
             </a>
           
            </div>
        	<div class="col">
             <a class="item item-icon-left item-icon-right" href="#" id="col-two">
             <h3><strong>环保任我行</strong></h3>
              	<i class="icon ion-ios-location-outline"></i>
             	查看附近电动车租借点。
                 <i class="icon ion-ios-arrow-forward"></i>
             </a>
            </div>
		</div>
		<div class="row">
        	<div class="col">
            	<div class="row" id="menu-four" >
        			<div class="col item-four" align="center">
                        <a class="item item-icon-top" href="#" id="news" >
                            <i class="icon ion-ios-compose-outline"></i><br/>
                            讲座 
                        </a>
            		</div>
                    <div class="col item-four" align="center">
                        <a class="item item-icon-top" href="#" id="news" >
                            <i class="icon ion-android-chat"></i><br/>
                            提到我 
                        </a>
            		</div>
                    <div class="col item-four" align="center">
                        <a class="item item-icon-top" href="#" id="news" >
                            <i class="icon ion-person-stalker"></i><br/>
                            出行建议
                            
                        </a>
            		</div>
        			<div class="col item-four" align="center">
                        <a class="item item-icon-top" href="#" id="news" >
                            <i class="icon ion-person-stalker"></i><br/>
                            个人奖章
                        </a>
            		</div>
				</div>
            </div>
		</div>
        <div class="row">
            <div class="col">
                <a class="item item-icon-right" href="#" id="news" >
                    【推荐】zjsgg
                    <i class="icon ion-ios-arrow-forward"></i>       
                </a>
            </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
